<%- include ../Partials/header.ejs%>
<%- include ../Partials/main_nav.ejs%>
<!--incident report Database-->
<main class="container">
    <div class="row">
        <div class="offset-md-1 col-md-10">
            <h1><%= title %></h1>
     <% if(typeof displayName == 'string' && displayName) {%>
            <a href="/incident/add" class="btn btn-primary" role="button">
                <i class="fas fa-plus-circle"></i> Add Incident
            </a>
            <br>
            <% } %>
            <br>
            <table class="table table-bordered table-striped table-hover">
                <tr class="d-flex">
                    <% if(typeof displayName == 'string' && displayName) {%>
                    <th class="text-center col-3">Date of Report</th>
                    <th class="text-center col-2">Full Name</th>
                    <th class="text-center col-2">Location</th>
                    <th class="col-4">Incident Description</th>
                    <th class="text-center col-2">Witness</th>
                    <th class="text-center col-1"></th>
                    <th class="text-center col-1"></th>
                <% } else { %>
                    <th class="text-center col-3">Date of Report</th>
                    <th class="text-center col-2">Full Name</th>
                    <th class="text-center col-1">Location</th>
                    <th class="text-center col-5">Incident Description</th>
                    <th class="text-center col-2">Witness</th>
                <% } %>
                </tr>
                <% for(let count=0;count<incidentlist.length;count++) { %>
                <tr class="d-flex">
                <% if(typeof displayName == 'string' && displayName) {%>
                    <td class="text-center col-2"><%= incidentlist[count].DateofReport %></td>
                    <td class="text-center col-2"><%= incidentlist[count].FullName %></td>
                    <td class="text-center col-1"><%=incidentlist[count].Location %></td>
                    <td class="text-center col-5"><%= incidentlist[count].IncidentDescription %> </td>
                    <td class="text-center col-1"><%= incidentlist[count].Witness %></td>
                    <td class="text-center col-1">
                    <% if(typeof displayName == 'string' && displayName) {%>
                        <a href="/incident/edit/<%= incidentlist[count]._id%>"
                            class="btn btn-primary btn-sm">
                        <i class="fas fa-pencil-alt"></i>Edit
                    </a>
                    </td>
                    <td class="text-center col-1">
                        <a href="/incident/delete/<%= incidentlist[count]._id%>"
                            class="btn btn-danger btn-sm">
                        <i class="fas fa-trash-alt"></i>Delete
                    <% } else { %>
                        <td class="text-center col-2"><%= incidentlist[count].DateofReport %></td>
                        <td class="text-center col-2"><%= incidentlist[count].FullName %></td>
                        <td class="text-center col-1"><%=incidentlist[count].Location %></td>
                        <td class="text-center col-6"><%= incidentlist[count].IncidentDescription %> </td>
                        <td class="text-center col-1"><%= incidentlist[count].Witness %></td>
                        <% } %>
                    </a>
                    </td>
                <% } %>
                </tr>    
                    <%} %>
            </table>
        </div>
    </div>
</main>
<%- include ../Partials/footer.ejs%>
